<%- include("partiels/head", {pageTitle : "bulk email validator"})   %>
  <link rel="stylesheet" href="/styles/index.css">
  <script src="/js/inputVerificator.js" defer></script>
  
</head>
<body>
  <%- include("partiels/navbar") %>
  <main>
    <section class="banner">
      <div class="container">
        <div class="intro">
          <h1><span>Un service de vérification d'e-mails</span><br> de pointe, précis et performant.</h1>
          <p>Identifiez les e-mails valides grâce à notre technologie de validation en temps réel (99,6% fiable) <br> pour garantir la réception et la lecture de vos messages.</p>
        </div>
      <div class="entry-mail-bl">
       
    
        <form action="/validate" id="validateFormAjax" method="POST" enctype="multipart/form-data">
    
          <div class="form-group tv">
            <label for="manualEmails"> Saisissez un ou plusieurs e-mails manuellement (un par ligne ou séparés par une virgule).</label>
            <div>
              <div class="input-btn-submit-bl">
                <textarea name="manualEmails" id="manualEmails" rows="1" placeholder="example1@gmail.com , example2@yahoo.com"></textarea>
                <div class="btn-bl">
                  <button id="validateBtn" type="submit"><i class="bi bi-check-circle"></i><span>Vérifier</span></button>
                  <div id="processing" class="hidden"><span class="spinner"></span> Processing...</div>
                </div>
              </div>
                </div>
            <% if (message) { %>
              <div id="formMessage " class="alert error fade-in"><%= message %></div>
            <% } else { %>
              <div id="formMessage" class="alert hidden fade-in"></div>
            <% } %>
          </div>
    
          <div class="form-group input-file">
            <label for="emailFile"><i  class="bi bi-arrow-bar-up"></i> ou <span>Importer un fichier CSV</span></label>
            <input hidden type="file" name="emailFile" id="emailFile" accept=".csv">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>

          </div>
          
        </form>
      </div>
    </div>
    </section>
  </main>


  <%- include("partiels/footer") %>

