
    
    <footer class="footer ">
        <div class="footer-container container">
          <div class="footer-about">
            <p class="footer-logo"><img src="/svgs/logo.svg" alt="logo"></p>
            <p><strong>Phone :</strong> (323) 576-1942</p>
            <p><strong>Email :</strong> exampleinfo@gmail.com</p>
            <p><strong>Address :</strong> 218 Fifth Avenue, Heaven Tower</p>
          </div>
      
          <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Api</a></li>
              <li><a href="/">Accueil</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Creer un csv</a></li>
              <li><a href="#">Documentaion</a></li>
            </ul>
          </div>
      
          <div class="footer-shop">
            <h3>Shop</h3>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Temoignages</a></li>
              <li><a href="#">Un service de vérification <br> d'e-mails
                de pointe</a></li>
              <li><a href="#">Comment valider vos listes <br> d’e-mails avec PromailChecker</a></li>
              <li><a href="#">Vous avez encore plus <br> d’e-mails à vérifier </a></li>
            </ul>
          </div>
      
          <div class="footer-newsletter">
            <h3>Sign Up To Newsletter</h3>
            <p>Sign up for exclusive updates, new arrivals, and more.</p>
            <div class="newsletter-box">
              <input type="email" placeholder="Your email address..." />
              <button>Subscribe</button>
            </div>
            <h3>Follow Us!</h3>
            <div class="social-icons">
              <a href="#"><i class="bi bi-github"></i></a>
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
              <a href="#"><i class="bi bi-reddit"></i></a>
            </div>
          </div>
        </div>
      
        <div class="footer-bottom">
          <p>© <span id="year"></span> All Rights Reserved | <strong>MEGZONE</strong> | Designed & Developed by <strong>UIPARADOX</strong></p>
        </div>
      
        <button id="scrollTopBtn" class="scroll-top"><i class="bi bi-arrow-up"></i></button>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
